pandas
scipy
cython
scikit-learn
scikit-image
joblib
bioframe
multiprocess
numba
datatable
pyBigWig
hic-straw
fithic
seaborn
pysam
bx-python
cooler
scanpy
hic2cool
cooltools
HiCExplorer
HiCMatrix
hicpeaks
html5lib
jupyter
MACS2
neoloop
